body {
    background-image: url(../images/red-texture-background.jpg);
    background-color: rgb(105, 20, 20);
    background-repeat: repeat;
}

.container {
    width: 50%;
    text-align: center;
    margin: 100px auto;
    background-color: rgb(46, 41, 46, .925);
    padding: 70px;
}

h1 {
    color: black;
    font-family: 'Special Elite', cursive;
    font-size: 40pt;
    text-shadow: 2px 2px 8px white;
}

#start {
    margin-top: 40px;
    background-color: #5E0A0A;
    padding-left: 20px;
    padding-right: 20px;
    border-color: rgba(245, 245, 245, 0.836);
}

#start:hover {
    background-color: whitesmoke;
    color: #5E0A0A;
    border-color: #5E0A0A;
}

h2 {
    color: rgba(245, 245, 245, 0.836);
    font-family: 'Sunflower', sans-serif;
}

#timer {
    color: rgba(245, 245, 245, 0.836);
}

p {
    color: rgba(245, 245, 245, 0.836);
    font-family: 'Sunflower', sans-serif;
    font-size: 16pt;
}

#replay {
    border-color: #5E0A0A;
    color: #5E0A0A;
    background-color: rgba(245, 245, 245, 0.836);
}

#replay:hover {
    color: rgba(245, 245, 245, 0.836);
    background-color: #5E0A0A;
    border-color: rgba(245, 245, 245, 0.836);
}

.userChoice {
    background-color: rgba(245, 245, 245, 0.836);
    color: #5E0A0A;
    border: 2px solid #5E0A0A;
    font-family: 'Sunflower', sans-serif;
    margin: 20px 5px 5px 5px;
    padding: 10px;
    font-family: 'Sunflower', sans-serif;
    border-radius: 20px;
}

.userChoice:hover {
    background-color: #5E0A0A;
    color: rgba(245, 245, 245, 0.836);
    border: 2px solid rgba(245, 245, 245, 0.836);
}